.btn-border {
  display: inline-block;
  text-align: center;
  padding: 1.6rem 3.2rem;
  border-radius: 10rem;
  background-color: $primary-color;
  color: $white;
  &--fullwidth{
    width: 100%;
  }
}
