.btn {
  display: inline-block;
  text-align: center;
  padding: 1.6rem 3.2rem;
  border-radius: 10rem;
  background-color: $primary-color;
  color: $white;
  font-weight: 700;
  font-size: 1.8rem;
  &--fullwidth {
    width: 100%;
  }
}
