extends ../templates/template.pug
block title-description-head
  +title-description-head("Title","Description")
block cover-page 
  .cover-page 
    .cover-page__container.container
      picture.cover-page__img 
        img(src=`${img}/illustration-working.svg`, alt="Illustration")
      .cover-page__detail
        p.cover-page__title More than just shorter links
        p.cover-page__description Build your brand's recognition and get detailed insights on how your links are perfoming
        a(href="#").cover-page__button.btn-border Get Started
block main 
  main.main 
    section.search-section
      .search-section__container.container
        form.form-search
          input.form-search__input(type="text" placeholder="Shorten a link here...")
          input.form-search__button.btn(type="submit" value="Shorten it!")
        .search-section__results
          .search-result
            a(href="#" target="_blank").search-result__link https://www.google.com
            a(href="#" target="_blank").search-result__shortenedlink https://re.link.com
            button.search-result__button.btn Copy 
          .search-result
            a(href="#" target="_blank").search-result__link https://www.google.com
            a(href="#" target="_blank").search-result__shortenedlink https://re.link.com
            button.search-result__button.btn Copy 
          .search-result
            a(href="#" target="_blank").search-result__link https://www.google.com
            a(href="#" target="_blank").search-result__shortenedlink https://re.liasdasdnk.com
            button.search-result__button.btn Copy 
