extends ../templates/template.pug
block title-description-head
  +title-description-head("Title","Description")
block cover-page 
  .cover-page 
    .cover-page__container.container
      picture.cover-page__img 
        img(src=`${img}/illustration-working.svg`, alt="Illustration")
      .cover-page__detail
        p.cover-page__title More than just shorter links
        p.cover-page__description Build your brand's recognition and get detailed insights on how your links are perfoming
        a(href="#").cover-page__button.btn-border Get Started