//- Variables head
- let titleNetworks="Url Shortening API Landing Page";
- let descriptionNetworks="Frontend Mentor - Url Shortening API Landing Page";
- let urlWeb="www.frontendmentor.io";
- let twitterCard="";
- let favicon="assets/img/icons/favicon.png";
- let imgWeb="";
//- Variables general
- let img='assets/img/'