// Variables head
- let titleNetworks="Farma Cibertec";
- let descriptionNetworks="Descripción";
- let urlWeb="www.farmacibertec.com";
- let twitterCard="";
- let favicon="assets/img/icon/favicon.ico";
- let imgWeb="";
// Variables general
- let img='assets/img/'